{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h2>User's data</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Roll</th>
          </tr>
        </thead>
        <tbody>

            {% for user in users %}
            <tr>
              <th scope="row">{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.roll}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

<a href="/" type="button" class="btn btn-dark">Back to Home Page</button>


{% endblock body %}

